* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5a65b;
  font-family: Signika;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* main container */
.mainContainer {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

/* card section */
.cardContainer {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0.5em;
  width: 30%;
  height: 33%;
  -o-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.card .content .front,
.card .content .back {
  position: absolute;
  padding: 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .content {
  display: flex;
  justify-content: center;
  border-radius: 0.4em;
  background-color: #002e2c;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .content .front {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  align-self: center;
  justify-self: center;
  color: #f5a65b;
}
.card .content .back {
  position: fixed;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover .content {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.back .optionContainer {
  display: flex;
  flex-direction: column;
}

.optionContainer .options {
  padding: 0.4em;
  width: 95%;
  margin-bottom: 0.5em;
  align-self: center;
  border-radius: 0.4em;
  border: none;
  background-color: #f5a65b;
  color: #002e2c;
  font-size: 0.9em;
  font-weight: 700;
  outline: none;
}
.optionContainer .options:hover {
  background-color: grey;
}
.cardQuestion {
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 700;
  color: #f5a65b;
}

/* head */
.headSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  color: #f5a65b;
}
.headSection h2 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.headSection p {
  text-align: center;
  margin-top: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
/* select */
.selectionMenu {
  background-color: #002e2c;
  width: 100%;
  height: 12%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
}
.selectSection {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.selectSection .selectClass {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
}
.selectSection .selectClass select {
  font-family: Signika;
  border: none;
  width: 10em;
  border-radius: 0.4em;
  height: 100%;
  padding: 0.2em;
  font-size: 0.7em;
  background-color: #f5a65b;
  color: #002e2c;
  outline: none;
}
.selectSection .bringQuestions {
  font-family: Signika;
  border: none;
  border-radius: 0.4em;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
  height: 100%;
  background-color: #f5a65b;
  color: #002e2c;
  outline: none;
  margin-left: 2em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  top: 50%;
  border: 0.7em solid transparent;
  border-radius: 50%;
  border-top: 0.7em solid #002e2c;
  width: 4em;
  height: 4em;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@media screen and (max-width: 1080px) {
  .selectSection .selectClass select {
    font-size: 0.6em;
  }
  .selectSection .bringQuestions {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 900px) {
  .selectSection .selectClass select {
    width: 8em;
  }
}
@media screen and (max-width: 800px) {
  .headSection h2 {
    font-size: 1em;
  }
  .headSection p {
    font-size: 0.6em;
  }
  .selectSection .selectClass select {
    font-size: 0.5em;
  }
  .selectSection .bringQuestions {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 620px) {
  .card {
    height: 45%;
    width: 45%;
  }
  .cardContainer {
    width: 100%;
  }
  .cardQuestion {
    font-size: 0.9em;
    line-height: 1.2em;
  }
  .optionContainer .options {
    font-size: 0.8em;
  }
  .selectionMenu {
    height: 30%;
  }
  .headSection {
    margin-top: 0.5em;
    width: 90%;
  }
  .headSection h2 {
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }
  .headSection p {
    font-size: 0.5em;
    letter-spacing: 0.05em;
  }
  .selectClass {
    display: flex;
    flex-direction: column;
  }
  .selectSection .selectClass select {
    margin-bottom: 0.8em;
    width: 12em;
  }
  .selectSection .bringQuestions {
    height: 25%;
    width: 6em;
  }
}
@media screen and (max-width: 375px) {
  .cardQuestion {
    line-height: 1.1em;
  }
  .optionContainer .options {
    padding: 0.2em;
    margin-bottom: 0.3em;
  }
}
@media screen and (max-width: 320px) {
  .cardQuestion {
    line-height: 1em;
    font-size: 0.7em;
  }
  .optionContainer .options {
    font-size: 0.6em;
  }
  .selectSection {
    flex-direction: column;
  }
  .selectSection .bringQuestions {
    margin-left: 0;
    width: 12em;
  }
  .headSection {
    margin-top: 0.2em;
  }
  .selectionMenu {
    height: 35%;
  }
}
